<% if user_signed_in? %>
<%= form_for(@comment, :remote => true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class ="grade">
          <h4>Please select your overall rate for this product</h4>
          <select name = "comment[grade]">
            <option>1 Not satisfied at all</option>
            <option>2 Not so satisfied</option>
            <option>3 Medium experience</option>
            <option>4 Basically satisfied</option>
            <option>5 Extremely satisfied</option>
          </select>
   </div>

  <div class="field">
    <strong>
    <%= f.label :"Your comments help improvement"%><br />
    </strong>
    <%= f.text_area :content%>
    <%= f.hidden_field :item_id, :value => params[:id] %>
  </div>

  <div class="actions" >
    <%= f.submit 'Make Comments',:class => 'btn btn-small btn-primary'%>
  </div>
<% end %>
<% else %>
    <h3>Please sign in to make comment.</h3>
<% end %>