<% if user_signed_in? %>
<%= form_for(@comment, :remote => true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD

  <div class="grade">
    <select name ="comment[grade]">
      <option>1 Not Satisfied at all</option>
      <option>2 Only a little satisfied</option>
      <option>3 Just so so</option>
      <option>4 Satisfied</option>
      <option>5 Extremely Satisfied</option>
    </select>
  </div>
=======
   <div class ="grade">
          <h4>Please select your overall rate for this product</h4>
          <select name = "comment[grade]" multiple="multiple">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
   </div>
>>>>>>> ef127ba38f792f87ee4a6c604b3c11ec7518a430

  <div class="field">
    <strong>
    <%= f.label :"Your comments help improvement"%><br />
    </strong>
    <%= f.text_area :content%>
    <%= f.hidden_field :item_id, :value => params[:id] %>
  </div>

  <div class="actions" >
    <%= f.submit 'Make Comments',:class => 'btn btn-small btn-primary'%>
  </div>
<% end %>
<% else %>
    <h3>Please sign in to make comment.</h3>
<% end %>