<% if user_signed_in? %>
<%= form_for(@comment, :remote => true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grade">
    <select multiple="multiple">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :"Your Comment"%><br />
    <%= f.text_area :content%>
    <%= f.hidden_field :item_id, :value => params[:id] %>
  </div>

  <div class="actions" >
    <%= f.submit 'Make Comments',:class => 'btn btn-small btn-primary'%>
  </div>
<% end %>
<% else %>
    <h3>Please sign in to make comment.</h3>
<% end %>